*{
    margin:0;
    padding: 0;
    font-family: sans-serif;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 25vh;
    background-color: rgba(6, 124, 153, 0.452);
    padding-right: 90px;
}
.logo{
    margin: 30px auto;
    align-items:flex-start;
    height: 100px;
    color: rgb(14, 5, 3);
    font-weight: bolder;

}
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 30%;
}
.nav-links li{
    list-style: none;
    text-decoration-line: none;
}
.nav-links a{
    color: darkorange;
    text-decoration: none;
    letter-spacing: 0px;
    font-weight: bold;
    font-size: 20px;
}
main{
    background-color: rgba(255, 248, 220, 0.5);
    text-align: center;
    padding-top: 80px;
    padding-left: 240px;
    padding-right: 240px;
    color: rgb(14, 11, 9);
    font-weight: bolder;
    font-size: 20px;
    
}
body{
    background-color: rgba(14, 6, 6, 0.24);
    background-image: url(bg10.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}